<%- include('includes/head.ejs') %>
    <title>Select Product Type</title>
</head>
<body>

    <%- include('includes/navigation.ejs') %>

    <h1 class="grid justify-center p-4 mx-8 mb-8 text-3xl border-b-2 border-primary"> Select Product Type</h1>
    <div class="grid mx-8 md:grid-cols-2 gap-x-4">
        <a class="block p-5 text-center bg-white border-2 border-gray-400 rounded-md text-primary lg:inline-block lg:mt-0 hover:bg-primary hover:text-white" href="/ar/furnitures" >
            Furnitures
        </a>

        <a class="block p-5 text-center bg-white border-2 border-gray-400 rounded-md text-primary lg:inline-block lg:mt-0 hover:bg-primary hover:text-white" href="/ar/food" >
            Food
            </a>
    </div>
</body>
</html>